/* App.css */
.body {
  /* font-family: sans-serif; */
  color: #fff;
}
.footer {
  background-color: #006699;
  padding: 5px 0;
  /* padding-bottom: 0px; */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  max-width: 300px;
  margin: 10px 10px 0;
  text-align: left;
}

.footer-header {
  background-color: #006699;
  padding: 5px;
}

.footer-header h3 {
  padding: 5px;
}

.footer-data {
  padding: 5px;
}

.footer-data-description p {
  font-size: 14px;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
  align-items: flex-start;
}

.footer-buttons button {
  background-color: #006699;
  color: #fff;
  border: none;
  /* padding: 10px 20px; */
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  /* border-radius: 4px; */
  transition: background-color 0.3s ease;
}

.footer-buttons button:hover {
  background-color: #0d4683;
  color: white;
}
.btn {
  text-align: left;
}

.btn-contact {
  border-radius: 24px;
  font-size: 14px;
  margin: 5px;
  margin-bottom: 0px;
  padding: 10px 20px;
  border-width: 2px;
  background-color: #006699;
  border-color: #fff;
  color: #fff;
}
.btn-contact button:hover {
  background-color: #0d4683;
}

.footer-icons {
  background-color: #006699;
}

.footer-socialedia {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 80%; */
}

.footer-socialedia i {
  font-size: 20px;
  color: #fff;
  margin-right: 30px;
  cursor: pointer;
}

.footer-top {
  text-decoration: none;
  display: flex;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); */
  width: 20%;
  /* margin-left:80px; */
}

/* App.css */

.footer-top {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  color: #fff; /* You can change the color for the icon here */
  transition: transform 0.2s;
}

.footer-top:hover {
  color: black;
}

.top-of-page {
  margin: 0 10px; /* Adjust the spacing between the icon and text */
  font-size: 10px; /* You can change the font size for the text here */
}

/* App.css */

.footer-copyright {
  background-color: #333;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin-top: 5px; */
}

.footer-copyright-statement {
  width: 70%;

  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  margin: auto;
  padding: 10px;
}

.footer-icons {
  margin: 2%;
}
/* Media Queries for responsiveness */

/* @media (max-width: 768px) {
  .footer-section {
    margin: 10px;
  }
} */
@media (max-width: 974px) {
  .footer-section {
    min-width: 100%;
    display: absolute;
    padding: 10px;
  }
}
