.slick-prev,
.slick-next {
  font-size: 24px;
  color: black;
  z-index: 1; /* Ensure arrows are above the slider */
  top: 35%; /* Adjust vertically */
  transform: translateY(-50%); /* Center vertically */
}

.slick-next:hover {
  font-size: 24px;
  color: black;
}

.slick-prev:hover {
  font-size: 24px;
  color: black;
}

.image {
  width: 80dvw;
  height: 100dvh;
  margin: auto;
}

@media (max-width: 1150px) {
  .image {
    width: 80dvw;
    height: 80dvh;
  }
}
@media (max-width: 900px) {
  .image {
    width: 80dvw;
    height: 60dvh;
  }
}
@media (max-width: 600px) {
  .image {
    width: 80dvw;
    height: 30dvh;
  }
}
