/* styles.css */

body {
  margin: 0; /* Reset default body margin */
  padding: 0; /* Reset default body padding */
  background-image: url('./resources/bg.jpg'); /* Set the background image URL */
  background-size: 130%; /* Scale the image to cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

.container {
  position: relative;
}

.logo {
  position: absolute;
  top: 5%;
  left: 0.5%;
  width: 6.5%;
  height: auto;
  z-index: 1000;
}

.heading {
  position: absolute;
  top: 0;
  left: 8%;
}

.ieee-logo {
  position: absolute;
  top: 7%;
  right: 5%;
  width: 9%;
  height: auto;
  z-index: 1000;
}

.carousel-and-content {
  position: relative;
  top: 10em;
}

.buttons {
  position: relative;
  bottom: 0; 
  top: 8rem;
  left: 0; 
  width: 100%;
}

.buttons button {
  margin: 3%; /* Add spacing between buttons */
  padding: 1% 2%; /* Adjust button padding as needed */
  height: 100%;
  background-color: transparent; /* Change button background color */
  color: rgb(0, 0, 0); /* Change button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.buttons button:hover {
  background-color: #0056b3; /* Change button background color on hover */
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
