@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: aqua;
    /* min-width: 100vw; */
  }
}

body {
  margin: 0;
  padding: 0;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
